@using EssentialCSharp.Web.Models
@{
    ViewData["Title"] = "Announcements";
    var webFeaturesComingSoon = AnnouncementCatalog.WebFeaturesComingSoon;
    var contentComingSoon = AnnouncementCatalog.ContentComingSoon;
    var recentlyCompleted = AnnouncementCatalog.RecentlyCompleted;
}
<div class="px-3"> 
    <h1>@ViewData["Title"]</h1>
    <hr class="divider-light-blue" />

    <div class="row">
        <div class="col-12 my-2">
            <h2 class="fs-4">Web Features Coming Soon</h2>
        </div>
        @foreach (var feature in webFeaturesComingSoon)
        {
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card card-primary">
                <div class="card-body">
                    <h5 class="card-title">@feature.Title</h5>
                    <p class="card-text">@feature.Text</p>
                </div>
            </div>
        </div>
        }

        <div class="col-12 my-2">
            <h2 class="fs-4">Content Coming Soon</h2>
        </div>
        @foreach (var feature in contentComingSoon)
        {
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card card-secondary">
                <div class="card-body">
                    <h5 class="card-title">@feature.Title</h5>
                    <p class="card-text">@feature.Text</p>
                </div>
            </div>
        </div>
        }

        <div class="col-12 my-2">
            <h2 class="fs-4">Recently Completed</h2>
        </div>
        @foreach (var feature in recentlyCompleted)
        {
        <div class="col-sm-12 col-md-6 col-lg-4 mb-5">
            <div class="card card-accent">
                <div class="card-body">
                    <h5 class="card-title">@feature.Title</h5>
                    <p class="card-text">@feature.Text</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>
