@using EssentialCSharp.Web.Extensions
@using System.Globalization
@using IntelliTect.Multitool
@inject IList<SiteMapping> _SiteMappings
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        const string imageUrl = "https://essentialcsharp.com/images/icon.png";
        const string description = "Welcome to one of the most venerable and trusted franchises you could dream of in the world of C# books and probably far beyond! -Mads Torgersen, C# Lead Designer, Microsoft";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://essentialcsharp.com/" />
    <meta property="og:image:secure_url" content="@imageUrl" />
    <meta property="og:image" content="@imageUrl" />
    <meta name="twitter:image" content="@imageUrl" />
    <meta property="og:image:type" content="image/png" />
    <meta name="description" property="og:description" content="@description" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@IntelliTect" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta name="twitter:title" property="og:title" content="Essential C#" />
    <title id="page-title">Essential C#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@docsearch/css@@3" />
    @*Font Family*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=auto" rel="stylesheet">
    @*End Font Family*@
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    @*So that Safari can import modules*@
    <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <environment include="Development">
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.js",
                    "vue-window-size": "https://unpkg.com/vue-window-size@2.0.0/composition-api/dist/index.js"
                }
            }
        </script>
    </environment>
    <environment exclude="Development">
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.prod.js",
                    "vue-window-size": "https://unpkg.com/vue-window-size@2.0.0/composition-api/dist/index.js"
                }
            }
        </script>
    </environment>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L4EMHSKG36"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-761B4BMK2R"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-761B4BMK2R');
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    @await RenderSectionAsync("HeadAppend", required: false)
</head>
<body>
    <div id="app">
        <div>
            <header class="header-background">
                <div class="banner">
                    <div class="menu-position">
                        <button class="menu-btn" v-on:click="sidebarShown = !sidebarShown">
                            <i class="fa fa-bars fa-lg icon-color"></i>
                        </button>
                        <div>
                            <a class="navbar-brand text-light title hide-on-mobile" style="margin-left:1rem" asp-route="home">Essential C#</a>
                        </div>
                    </div>

                    <a v-if="chapterParentPage" :href="chapterParentPage.href" style=" margin-left: 1rem; display:block; white-space: nowrap;" class="banner-section-label text-light">
                        <span v-cloak>{{chapterParentPage.title}}</span>
                    </a>


                    <div class="menu-position">
                        <!-- <a id="feedback"
                           class="text-light banner-section-label banner-link hide-on-mobile"
                           target="_blank"
                           rel="noreferrer noopener"
                           style="font-size:1em; margin-right: 1rem;"
                           href="https://github.com/IntelliTect/EssentialCSharp.Web/discussions/new?category=feedback-and-ideas">
                            Feedback
                        </a>
                        <button class="menu-btn feedback-icon show-on-mobile"
                                onclick="window.location='https://github.com/IntelliTect/EssentialCSharp.Web/discussions/new?category=feedback-and-ideas'">
                            <i class="fa fa-regular fa-comments fa-lg icon-color"></i>
                        </button> -->

                        <button class="menu-btn" 
                            onclick="window.location='https://github.com/IntelliTect/EssentialCSharp.Web/discussions/new?category=feedback-and-ideas'">
                            <i class="fa fa-solid fa-comment fa-lg icon-light" data-toggle="tooltip" data-placement="bottom" title="Feedback"></i>
                        </button>

                        <button class="menu-btn" id="announcement-dropdown">
                            <i class="fa fa-solid fa-bullhorn fa-lg icon-light" data-toggle="tooltip" data-placement="bottom" title="Announcements"></i>
                        </button>

                        <div class="dropdown-menu" aria-labelledby="announcement-dropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>

                        <!-- <a class="text-light banner-section-label banner-link hide-on-mobile"
                           style="margin-right: 1em; font-size:1em;"
                           v-on:click="comingSoonSidebarShown = !comingSoonSidebarShown">
                            Announcements
                        </a>

                        <button class="menu-btn feedback-icon show-on-mobile"
                                v-on:click="comingSoonSidebarShown = !comingSoonSidebarShown">
                            <i class="fa fa-solid fa-bullhorn fa-lg icon-color"></i>
                        </button> -->
                    </div>
                </div>
            </header>

            <main class="layout">
                <div id="sidebarContainer" class="background-grey-lighten-2">
                    <Transition name="slide-fade">
                        <div v-cloak v-if="sidebarShown" :class="{sidebarSmall: smallScreen}" class="sidebar toc-padding" id="sidebar">
                            <div v-cloak class="toc-menu">

                                <div style="display:grid; width:100%; margin-bottom:.75rem;">
                                    <button v-on:click="openSearch" type="button" class="DocSearch DocSearch-Button DocSearch-Style" aria-label="Search">
                                        <span class="DocSearch-Button-Container">
                                            <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                                                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                            <span class="DocSearch-Button-Placeholder">Search</span>
                                        </span>
                                        <span class="DocSearch-Button-Keys">
                                            <kbd class="DocSearch-Button-Key">
                                                <svg width="15" height="15" class="DocSearch-Control-Key-Icon">
                                                    <path d="M4.505 4.496h2M5.505 5.496v5M8.216 4.496l.055 5.993M10 7.5c.333.333.5.667.5 1v2M12.326 4.5v5.996M8.384 4.496c1.674 0 2.116 0 2.116 1.5s-.442 1.5-2.116 1.5M3.205 9.303c-.09.448-.277 1.21-1.241 1.203C1 10.5.5 9.513.5 8V7c0-1.57.5-2.5 1.464-2.494.964.006 1.134.598 1.24 1.342M12.553 10.5h1.953" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="square"></path>
                                                </svg>
                                            </kbd>
                                            <kbd class="DocSearch-Button-Key">K</kbd>
                                        </span>
                                    </button>
                                </div>
                                <div class="show-on-mobile" style="padding-left:6px; margin-bottom:1rem;">
                                    <a href="home" class="toc-label" style="text-decoration:none">
                                        Home
                                    </a>
                                </div>
                                <div>
                                    <h5>
                                        Contents
                                    </h5>
                                </div>
                                <button class="toc-label hide" v-on:click="sidebarTab = 'search'" id="search-btn">
                                    SEARCH
                                    <div v-if="sidebarTab == 'search'" class="bottom-border" id="search-border"></div>
                                </button>
                            </div>

                            <div v-cloak v-if="sidebarTab == 'toc'" class="toc-tree" id="toc">
                                <ul class="tree">
                                    <toc-tree v-for="item in tocData" :item="item" :expanded-tocs="expandedTocs" :current-page="currentPage"></toc-tree>
                                </ul>
                            </div>
                            <div v-cloak>
                                Build: @if (ReleaseDateAttribute.GetReleaseDate() is DateTime date)
                                {
                                    <b>@TimeZoneInfo.ConvertTimeFromUtc(date, TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time")).ToString("d MMM, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</b>
                                }
                            </div>
                            <div v-cloak v-if="sidebarTab == 'search'" id="searchBar" class="search-window">
                                <div class="input">
                                    <input type="text" />
                                    <button class="search-btn">
                                        <i class="fa fa-search icon-color"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </Transition>
                </div>
                <div class="container mt-4 pt-2">

                    <nav v-cloak class="page-nav-container">
                        <div class="hover-text">
                            <a id="prev-btn" :href="previousPageUrl" v-if="previousPageUrl" class="nav-btn"><i class="fa fa-solid fa-arrow-left icon-color nav-btn-icon"></i></a>
                            <span class="tooltip-text tooltip-right">Previous Page (left-arrow)</span>
                        </div>
                        <div class="hover-text">
                            <a id="next-btn" :href="nextPageUrl" v-if="nextPageUrl" class="nav-btn"><i class="fa fa-solid fa-arrow-right icon-color nav-btn-icon"></i></a>
                            <span class="tooltip-text tooltip-left">Next Page (right-arrow)</span>
                        </div>
                    </nav>

                    @RenderBody()

                </div>

                <!-- <div v-cloak v-if="comingSoonSidebarShown" class="comingSoonSidebar" id="comingSoonSidebar">
                    <ul class="cs-tree">
                        <li>
                            <details>
                                <summary class="toc-content">Web Features Coming Soon</summary>
                                <ul class="no-icon">
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">Client-side Compiler</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">Write, compile, and run code snippets right from your browser. Enjoy hands-on experience with the code as you go through the site.</div>
                                                    @* <a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">Interactive Code Listings</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">Edit, compile, and run the code listings found throughout Essential C#.</div>
                                                    @*<a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">Full Text Search</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">Search for keywords and phrases to easily find relevant information.</div>
                                                    @* <a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">Hyperlinking</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">Easily navigate to interesting and relevant sites as well as related sections in Essential C#.</div>
                                                    @* <a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">Table of Contents Filtering</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">The Table of Contents filter will let you narrow down the list of topics to help you quickly and easily find your destination.</div>
                                                    @*<a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary class="toc-content">Content Coming Soon</summary>
                                <ul class="no-icon">
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon"><span class="code-text">records</span></summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">New feature from C# 9.</div>
                                                    @* <a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">File Scoped <span class="code-text">namespaces</span></summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">New feature from C# 10.</div>
                                                    @*<a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon"><span class="code-text">using</span> Statements Improvements</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">Feature improvements from C# 10.</div>
                                                    @*<a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">Pattern Matching Improvements</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">Feature improvements from C# 11.</div>
                                                    @*<a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon"><span class="code-text">required</span> Members</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">New feature from C# 11.</div>
                                                    @*<a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                </ul>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary class="toc-content">Recently Completed</summary>
                                <ul class="no-icon">
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">Copying Header Hyperlinks</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">Easily copy a header URL to link to a book section.</div>
                                                    @* <a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">Home Page</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">Add a home page that features a short description of the book and a high level mindmap.</div>
                                                    @*  <a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details class="no-border">
                                            <summary class="cs-section-link no-icon">Keyboard Shortcuts</summary>
                                            <ul>
                                                <li>
                                                    <div class="cs-description">Quickly navigate through the book via keyboard shortcuts (right/left arrows, 'n', 'p').</div>
                                                    @*  <a class="cs-description link-color">View on GitHub</a>*@
                                                </li>
                                            </ul>
                                        </details>
                                    </li>

                                </ul>
                            </details>
                        </li>
                    </ul>
                    <div style="display:flex; justify-content:center;">
                        <button class="show-on-mobile"
                                v-on:click="comingSoonSidebarShown = !comingSoonSidebarShown">
                            Close
                        </button>
                    </div>
                </div> -->

            </main>

            <div v-cloak v-if="snackbarMessage" id="snackbar" class="show" :style="{ color: snackbarColor }">
                {{ snackbarMessage }}
            </div>

        </div>
        <footer class="border-top dense-footer text-muted">
            <div style="text-align:center;  white-space:nowrap;">
                &copy; IntelliTect 2005-@DateTime.Now.Year
            </div>

            <div style="text-align:center; white-space:nowrap;">
                <a class="link-color" target="_blank" rel="noreferrer noopener" href="https://intellitect.com/about/privacy-policy/">Privacy</a>  -
                <a class="link-color" asp-route="TermsOfService">Terms Of Service</a>
            </div>
        </footer>
    </div>

    <div id="docsearch" style="display: none;"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/algoliaDocSearch.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        @{
            object GetItems(IEnumerable<SiteMapping> chapterItems, int indentLevel) => chapterItems
            // Skip the chapter entry itself
            .Skip(1)
            // Examine all items up until we move up to a level higher than where we're starting,
            // which would indicate that we've reached the end of the entries nested under `indentationLevel`
            .TakeWhile(i => i.IndentLevel >= indentLevel)
            // Of all the multi-level descendants we found, take only those at the curent level that we're wanting to render.
            .Where(i => i.IndentLevel == indentLevel)
            .Select(i => new
            {
                Level = indentLevel,
                Key = i.Key,
                Href = $"{i.Key}#{i.AnchorId}",
                Title = i.RawHeading,
                // Any children of this node will be /after/ this node,
                // so skip any items that are /before/ the current node.
                Items = GetItems(chapterItems.SkipWhile(q => i.Key != q.Key), indentLevel + 1)
            });
            var tocData = _SiteMappings.GroupBy(x => x.ChapterNumber).OrderBy(x => x.Key).Select(x => new
            {
                Level = 0,
                Key = x.First().Key,
                Href = $"{x.First().Key}#{x.First().AnchorId}",
                Title = $"Chapter {x.Key}: {x.First().ChapterTitle}",
                Items = GetItems(x, 1)
            });
        }

            PREVIOUS_PAGE = @Json.Serialize(ViewBag.PreviousPage)
                NEXT_PAGE = @Json.Serialize(ViewBag.NextPage)
                    TOC_DATA = @Json.Serialize(tocData)
    </script>

    @* Recursive vue component template for rendering the table of contents. *@
    <template id="toc-tree">
        <li v-if="item.items.length">
            <details :open="expandedTocs.has(item.key)"
                     v-on:toggle="!$event.target.open ? expandedTocs.delete(item.key) : expandedTocs.add(item.key)">
                <summary :class="{
                         'toc-content' : item.level==0,
                         'nested' : item.level>
                    0,
                    'current-section': currentPage.some(p => p.key == item.key),
                    }" :href="item.href">{{item.title}}
                </summary>
                <ul>
                    <li :class="{
                           ['indent-level-' + (item.level+1)]: true,
                           'current-li' : currentPage.some(p=>
                            p.key == item.key) && !currentPage.some(p => p.level > item.level),
                            }" >
                        <a class="link-button-color section-link" :class="{
                           ['indent-level-' + (item.level+1)]: true,
                           'current-section' : currentPage.some(p=>
                            p.key == item.key) && !currentPage.some(p => p.level > item.level),
                            }" :href="item.href"> Introduction
                        </a>
                    </li>
                    <toc-tree v-for="childItem in item.items" :item="childItem" :expanded-tocs="expandedTocs" :current-page="currentPage"></toc-tree>
                </ul>
                <hr class="divider" v-if="item.level === 0" />
            </details>
        </li>
        <li v-else :class="{
                           ['indent-level-' + (item.level+1)]: true,
                           'current-li' : currentPage.some(p=>
                            p.key == item.key) && !currentPage.some(p => p.level > item.level),
                            }" >
            <a class="link-button-color section-link" :class="{
               ['indent-level-' + (item.level)]: true,
               'current-section' : currentPage.some(p=>
                p.key == item.key),
                }" :href="item.href"> {{item.title}}
            </a>
        </li>
    </template>

    <script src="~/js/site.js" type="module" asp-append-version="true"></script>

</body>
</html>
