@using EssentialCSharp.Web.Extensions
@inject IList<SiteMapping> _SiteMappings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Essential C#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EssentialCSharp.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header-height">
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow header-height">
            <div class="banner">
                <a class="navbar-brand text-light banner-main-label" asp-area="" asp-controller="Home" asp-action="Index">Essential C#</a>
                <a class="nav-link text-light banner-section-label right" runat="server" target="_blank" rel="noreferrer noopener" href="https://github.com/IntelliTect/EssentialCSharp/discussions/new?category=feedback-and-ideas">Feedback</a>
            </div>
        </nav>
    </header>

    <div class="layout">
        <div class="sidebar">
             <div class="toc-menu"> 
                <button class="toc-label" onclick="showTOC()" id="toc-btn">
                    CONTENTS
                    <div class="bottom-border" id="toc-border"></div>
                </button>

                <button class="toc-label" onclick="showSearchBar()" id="search-btn">
                    SEARCH
                    <div class="bottom-border hide" id="search-border"></div>
                </button>
            </div>

            <div class="toc-tree" id="toc">
                <ul class="tree">
                    @foreach (int chapterNumber in _SiteMappings.Select(x=>x.ChapterNumber).Distinct().OrderBy(x => x))
                    {
                        <li>
                            <details>
                            <summary class="toc-content">Chapter @chapterNumber: @_SiteMappings.First(x=>x.ChapterNumber == chapterNumber).ChapterTitle</summary>
                            <ul>
                                @foreach (SiteMapping siteMapping in _SiteMappings.Where(x=>x.ChapterNumber == @chapterNumber))
                                {  
                                            <li class="toc-content">
                                                <a class="link-button-color" runat="server" href="@siteMapping.Heading">@siteMapping.RawHeading</a>
                                            </li>
                                }
                            </ul>
                        </details>
                        </li>
                    }
                </ul>
            </div>

            <div id="searchBar" class="search-window hide">
                <div class="input">
                <input type="text" />
                    <button class="search-btn" >
                        <i class="fas fa-search icon-color"></i>
                    </button>
                </div>
            </div>
        </div>

        <div>
            @RenderBody()
        </div>
    </div>

    <footer class="border-top dense-footer text-muted" position="fixed" left="0" bottom="0" width="100%">
        <div class="dense-footer-content">
            &copy; IntelliTect 2005-<span class="currentyear">Year</span> - <a class="link-color" runat="server" target="_blank" rel="noreferrer noopener" href="https://intellitect.com/about/privacy-policy/">Privacy</a>  - 
            <a class="link-color" asp-area="" asp-controller="Home" asp-action="TermsOfService">Terms Of Service</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        jQuery(document).ready( function($) {
            currentyear = new Date().getFullYear();
            $('.currentyear').text(currentyear);
        });
    </script>

     <script>
        function showTOC() {
            var a = document.getElementById("toc-border");
            a.style.display = "block";
            var b = document.getElementById("toc");
            b.style.display = "block";

            var c = document.getElementById("searchBar");
            c.style.display = "none";
            var d = document.getElementById("search-border");
            d.style.display = "none";
            
        }

        function showSearchBar() {
             var a = document.getElementById("toc-border");
            a.style.display = "none";
            var b = document.getElementById("toc");
            b.style.display = "none";

            var c = document.getElementById("searchBar");
            c.style.display = "block";
            var d = document.getElementById("search-border");
            d.style.display = "block";
        }
    </script>
</body>
</html>