@using EssentialCSharp.Web.Extensions
@inject IList<SiteMapping> _SiteMappings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="page-title">Essential C#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/EssentialCSharp.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L4EMHSKG36"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-L4EMHSKG36');
    </script>
</head>
<body>
    <header class="header-height">
        <div class="banner">
            <a class="navbar-brand text-light banner-main-label" asp-area="" asp-controller="Home" asp-action="Index">Essential C#</a>
            <a id="prev-section" class="navbar-brand text-light banner-section-label">&lt &lt Previous</a>
            <a id="section-title" class="navbar-brand text-light banner-main-label banner-main-label-center"></a>
            <a id="next-section" class="navbar-brand text-light banner-section-label">Next &gt &gt</a>
            <a class="nav-link text-light banner-section-label right" runat="server" target="_blank" rel="noreferrer noopener" href="https://github.com/IntelliTect/EssentialCSharp/discussions/new?category=feedback-and-ideas">Feedback</a>
        </div>
    </header>

    <div class="layout">
        <div class="sidebar medium-padding">
             <div class="toc-menu"> 
                <button class="toc-label" onclick="showTOC()" id="toc-btn">
                    CONTENTS
                    <div class="bottom-border" id="toc-border"></div>
                </button>

                <button class="toc-label hide" onclick="showSearchBar()" id="search-btn">
                    SEARCH
                    <div class="bottom-border hide" id="search-border"></div>
                </button>
            </div>

            <div class="toc-tree" id="toc">
                <ul class="tree">
                    @foreach (int chapterNumber in _SiteMappings.Select(x=>x.ChapterNumber).Distinct().OrderBy(x => x))
                    {
                    <li>
                        <details>
                             <summary class="toc-content">Chapter @chapterNumber: @_SiteMappings.First(x=>x.ChapterNumber == chapterNumber).ChapterTitle</summary>
                            <ul>
                                @foreach (SiteMapping siteMapping in _SiteMappings.Where(x=>x.ChapterNumber == @chapterNumber))
                                {  
                                    string fullHref = $"{siteMapping.Key}#{siteMapping.AnchorId}";
                                    <li>
                                        <a class="link-button-color section-link" asp-route="slug" asp-route-key="@siteMapping.Key" asp-fragment="@siteMapping.AnchorId">@siteMapping.RawHeading</a>
                                    </li>
                                }
                            </ul>
                        </details>
                    </li>
                    }
                </ul>
            </div>

            <div id="searchBar" class="search-window hide">
                <div class="input">
                <input type="text" />
                    <button class="search-btn" >
                        <i class="fas fa-search icon-color"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="less-padding">
            @RenderBody()
        </div>
    </div>

    <footer class="border-top dense-footer text-muted" position="fixed" left="0" bottom="0" width="100%">
        <div class="dense-footer-content">
            &copy; IntelliTect 2005-@DateTime.Now.Year - <a class="link-color" runat="server" target="_blank" rel="noreferrer noopener" href="https://intellitect.com/about/privacy-policy/">Privacy</a>  - 
            <a class="link-color" asp-route="TermsOfService">Terms Of Service</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

     <script>
        function showTOC() {
            var a = document.getElementById("toc-border");
            a.style.display = "block";
            var b = document.getElementById("toc");
            b.style.display = "block";

            var c = document.getElementById("searchBar");
            c.style.display = "none";
            var d = document.getElementById("search-border");
            d.style.display = "none";
        }

        function showSearchBar() {
             var a = document.getElementById("toc-border");
            a.style.display = "none";
            var b = document.getElementById("toc");
            b.style.display = "none";

            var c = document.getElementById("searchBar");
            c.style.display = "block";
            var d = document.getElementById("search-border");
            d.style.display = "block";
        }
        
        window.onload = openTOC;
        
        function openTOC()
        {
            var links = document.getElementsByClassName("section-link");

            let pageTitle = document.getElementById("page-title");
            let title = document.getElementById("section-title");
            let prev = document.getElementById("prev-section")
            let next = document.getElementById("next-section");

            if (window.location.origin + "/" == window.location.href) {
                let link = links[0];
                
                pageTitle.textContent = link.innerHTML + " | Essential C#";
                title.innerHTML = link.innerHTML;
                prev.classList.add("link-hide");

                next.classList.remove("link-hide");
                next.href = links[1];
            }
            else {
                for (let i = 0; i < links.length; i++) {
                    let link = links[i];

                    if (window.location.href.endsWith(link.href) && Boolean(link.innerHTML)) {
                        
                        //Update title and next/prev section hrefs 
                        pageTitle.textContent = link.innerHTML + " | Essential C#";
                        title.innerHTML = link.innerHTML;

                        if (i == 0) {
                            prev.classList.add("link-hide");
                        }
                        else {
                            prev.classList.remove("link-hide");
                            prev.href = links[i - 1];
                        }

                        if (i - 1 == links.length) {
                            next.classList.add("link-hide");
                        }
                        else {
                            next.classList.remove("link-hide");
                            next.href = links[i + 1];
                        }

                        //Expand the chapter header in TOC and indicate the selected section
                        link.classList.add("current-section");
                        var listItem = link.parentElement;
                        var chapterlist = listItem.parentElement;
                        var chapterHeading = chapterlist.previousElementSibling;
                        chapterHeading.click();

                        break;
                    }
                }
            }
        }

        document.addEventListener('keydown', (e) => {
            if (e.key.toLowerCase() === 'f') {
                let fb = document.getElementById("feedback");
                fb.click();
            }
        });

        document.addEventListener('keydown', (e) => {
            if (e.key.toLowerCase() === 'n' || e.key == "ArrowRight" ) {
                let next = document.getElementById("next-section");
                next.click();
            }
        });

        document.addEventListener('keydown', (e) => {
            if (e.key.toLowerCase() === 'p' || e.key == "ArrowLeft" ) {
                let prev = document.getElementById("prev-section");
                prev.click();
            }
        });

        jQuery(document).ready(function(){
            var target = window.location.hash;

            if ( target != '' ){
                var $target = jQuery(target); 
                jQuery('html, body').stop().animate({
                'scrollTop': $target.offset().top - 80},
                900, 
                'swing',function () {
                window.location.hash = target - 40 ;
                });
            }
        });
 
    </script>
</body>
</html>