@using EssentialCSharp.Web.Extensions
@using System.Globalization
@using IntelliTect.Multitool
@inject IList<SiteMapping> _SiteMappings
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        const string imageUrl = "https://essentialcsharp.com/images/icon.png";
        const string description = "Welcome to one of the most venerable and trusted franchises you could dream of in the world of C# books and probably far beyond! -Mads Torgersen, C# Lead Designer, Microsoft";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://essentialcsharp.com/" />
    <meta property="og:image:secure_url" content="@imageUrl" />
    <meta property="og:image" content="@imageUrl" />
    <meta name="twitter:image" content="@imageUrl" />
    <meta property="og:image:type" content="image/png" />
    <meta name="description" property="og:description" content="@description" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@IntelliTect" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta name="twitter:title" property="og:title" content="Essential C#" />
    <title id="page-title">Essential C#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <environment include="Development">
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.js"
                }
            }
        </script>
    </environment>
    <environment exclude="Development">
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://unpkg.com/vue@3.2.45/dist/vue.esm-browser.prod.js"
                }
            }
        </script>
    </environment>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L4EMHSKG36"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-761B4BMK2R"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-761B4BMK2R');
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    @await RenderSectionAsync("HeadAppend", required: false)
</head>
<body>
    <div id="app">
        <header class="header-height">
            <div class="banner">
                <div class="menu-position">
                    <button class="menu-btn" v-on:click="sidebarShown = !sidebarShown">
                        <i class="fa fa-bars fa-lg icon-color"></i>
                    </button>
                    <a class="navbar-brand text-light banner-main-label hide-on-mobile" asp-route="home">Essential C#</a>
                </div>

                <span  v-cloak class="hover-text">
                    <a id="prev-section"
                       class="text-light banner-section-label hide-on-mobile"
                       :href="previousPageUrl">
                        <i class="fa fa-solid fa-arrow-left icon-color"></i>
                        <span class="tooltip-text">Previous Page (P or left-arrow)</span><span class="underline">P</span>revious
                    </a>
                </span>

                <a  v-cloak id="section-title"
                   class="text-light banner-main-label banner-main-label-center">{{sectionTitle}}</a>

                <span v-cloak class="hover-text">
                    <a id="next-section"
                       class="text-light banner-section-label hide-on-mobile"
                       :href="nextPageUrl">
                        <span class="tooltip-text">Next Page (N or right-arrow)</span><span class="underline">N</span>ext
                        <i class="fa fa-solid fa-arrow-right icon-color"></i>
                    </a>
                </span>

                <div class="menu-position">
                    <span class="hover-text">
                        <a id="feedback"
                           class="text-light banner-section-label banner-link hide-on-mobile"
                           target="_blank"
                           rel="noreferrer noopener"
                           href="https://github.com/IntelliTect/EssentialCSharp/discussions/new?category=feedback-and-ideas">
                            <span class="tooltip-text">Give feedback to us!</span>Feedback
                        </a>
                    </span>
                    <button class="menu-btn feedback-icon show-on-mobile"
                            onclick="window.location='https://github.com/IntelliTect/EssentialCSharp/discussions/new?category=feedback-and-ideas'">
                        <i class="fa fa-regular fa-comments fa-lg icon-color"></i>
                    </button>
                    <button class="menu-btn feedback-icon"
                            v-on:click="comingSoonSidebarShown = !comingSoonSidebarShown"
                            >
                        <i class="fa fa-solid fa-bullhorn fa-lg icon-color"></i>
                    </button>
                </div>
            </div>
        </header>

        <div class="layout">
            <div  v-show="sidebarShown" class="sidebar toc-padding" id="sidebar">
                <div v-cloak class="toc-menu">
                    <button class="toc-label" v-on:click="sidebarTab = 'toc'" id="toc-btn">
                        CONTENTS
                        <div v-if="sidebarTab == 'toc'" class="bottom-border" id="toc-border"></div>
                    </button>

                    <button class="toc-label hide" v-on:click="sidebarTab = 'search'" id="search-btn">
                        SEARCH
                        <div v-if="sidebarTab == 'search'" class="bottom-border" id="search-border"></div>
                    </button>
                </div>

                <div v-cloak v-if="sidebarTab == 'toc'" class="toc-tree" id="toc">
                    <ul class="tree">
                        <toc-tree v-for="item in tocData" :item="item" :expanded-tocs="expandedTocs" :current-page="currentPage"></toc-tree>
                    </ul>
                </div>
                <div v-cloak>
                    Build: @if (ReleaseDateAttribute.GetReleaseDate() is DateTime date)
                    {
                        <b>@TimeZoneInfo.ConvertTimeFromUtc(date, TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time")).ToString("d MMM, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</b>
                    }
                </div>
                <div v-cloak v-if="sidebarTab == 'search'" id="searchBar" class="search-window">
                    <div class="input">
                        <input type="text" />
                        <button class="search-btn">
                            <i class="fa fa-search icon-color"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div v-once class="content-padding">

                <a id="prev-btn" class="nav-mobile-btn previous-mobile-btn show-on-mobile" :href="previousPageUrl"><i class="fa fa-solid fa-arrow-left icon-color nav-mobile-btn-icon"></i></a>
                <a id="next-btn" class="nav-mobile-btn next-mobile-btn show-on-mobile" :href="nextPageUrl"><i class="fa fa-solid fa-arrow-right icon-color nav-mobile-btn-icon"></i></a>
                @RenderBody()

                <footer class="border-top dense-footer text-muted" >
                    <div class="dense-footer-content">
                        &copy; IntelliTect 2005-@DateTime.Now.Year - <a class="link-color" target="_blank" rel="noreferrer noopener" href="https://intellitect.com/about/privacy-policy/">Privacy</a>  -
                        <a class="link-color" asp-route="TermsOfService">Terms Of Service</a>
                    </div>
                </footer>
            </div>

            <div v-cloak v-if="comingSoonSidebarShown" class="comingSoonSidebar" id="comingSoonSidebar">
                <ul class="cs-tree">
                    <li>
                        <details>
                            <summary class="toc-content">Web Features Coming Soon</summary>
                            <ul class="no-icon">
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">Client-side Compiler</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">Write, compile, and run code snippets right from your browser. Enjoy hands-on experience with the code as you go through the site.</div>
                                                @* <a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">Interactive Code Listings</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">Edit, compile, and run the code listings found throughout Essential C#.</div>
                                                @*<a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">Full Text Search</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">Search for keywords and phrases to easily find relevant information.</div>
                                                @* <a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">Hyperlinking</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">Easily navigate to interesting and relevant sites as well as related sections in Essential C#.</div>
                                                @* <a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">Table of Contents Filtering</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">The Table of Contents filter will let you narrow down the list of topics to help you quickly and easily find your destination.</div>
                                                @*<a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary class="toc-content">Content Coming Soon</summary>
                            <ul class="no-icon">
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon"><span class="code-text">records</span></summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">New feature from C# 9.</div>
                                                @* <a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">File Scoped <span class="code-text">namespaces</span></summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">New feature from C# 10.</div>
                                                @*<a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon"><span class="code-text">using</span> Statements Improvements</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">Feature improvements from C# 10.</div>
                                                @*<a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">Pattern Matching Improvements</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">Feature improvements from C# 11.</div>
                                                @*<a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon"><span class="code-text">required</span> Members</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">New feature from C# 11.</div>
                                                @*<a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary class="toc-content">Recently Completed</summary>
                            <ul class="no-icon">
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">Copying Header Hyperlinks</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">Easily copy a header URL to link to a book section.</div>
                                                @* <a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">Home Page</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">Add a home page that features a short description of the book and a high level mindmap.</div>
                                                @*  <a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>
                                <li>
                                    <details class="no-border">
                                        <summary class="cs-section-link no-icon">Keyboard Shortcuts</summary>
                                        <ul>
                                            <li>
                                                <div class="cs-description">Quickly navigate through the book via keyboard shortcuts (right/left arrows, 'n', 'p').</div>
                                                @*  <a class="cs-description link-color">View on GitHub</a>*@
                                            </li>
                                        </ul>
                                    </details>
                                </li>

                            </ul>
                        </details>
                    </li>
                </ul>
            </div>

        </div>
        <div v-cloak v-if="clipboardError" id="snackbar" class="show" style="color: red">
            {{ clipboardError }}
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        @{
            object GetItems(IEnumerable<SiteMapping> chapterItems, int indentLevel) => chapterItems
                // Skip the chapter entry itself
                .Skip(1)
                // Examine all items up until we move up to a level higher than where we're starting,
                // which would indicate that we've reached the end of the entries nested under `indentationLevel`
                .TakeWhile(i => i.IndentLevel >= indentLevel)
                // Of all the multi-level descendants we found, take only those at the curent level that we're wanting to render.
                .Where(i => i.IndentLevel == indentLevel)
                .Select(i => new
                {
                    Level = indentLevel,
                    Key = i.Key,
                    Href = $"{i.Key}#{i.AnchorId}",
                    Title = i.RawHeading,
                    // Any children of this node will be /after/ this node,
                    // so skip any items that are /before/ the current node.
                    Items = GetItems(chapterItems.SkipWhile(q => i.Key != q.Key), indentLevel + 1)
                });
            var tocData = _SiteMappings.GroupBy(x => x.ChapterNumber).OrderBy(x => x.Key).Select(x => new
            {
                Level = 0,
                Key = x.First().Key,
                Href = $"{x.First().Key}#{x.First().AnchorId}",
                Title = $"Chapter {x.Key}: {x.First().ChapterTitle}",
                Items = GetItems(x, 1)
            });
        }
        PREVIOUS_PAGE = @Json.Serialize(ViewBag.PreviousPage)
        NEXT_PAGE = @Json.Serialize(ViewBag.NextPage)
        TOC_DATA = @Json.Serialize(tocData)
    </script>

    @* Recursive vue component template for rendering the table of contents. *@
    <template id="toc-tree">
        <li v-if="item.items.length">
            <details 
                :open="expandedTocs.has(item.key)"
                v-on:toggle="!$event.target.open ? expandedTocs.delete(item.key) : expandedTocs.add(item.key)">
                <summary :class="{
                        'toc-content': item.level == 0,
                        'nested': item.level > 0,
                        'current-section': currentPage.some(p => p.key == item.key),
                    }" :href="item.href">{{item.title}}</summary>
                <ul>
                    <li>
                        <a class="link-button-color section-link" :class="{
                            ['indent-level-' + (item.level+1)]: true,
                            'current-section': currentPage.some(p => p.key == item.key) && !currentPage.some(p => p.level > item.level),
                        }" :href="item.href"> Introduction </a>
                    </li>
                    <toc-tree v-for="childItem in item.items" :item="childItem" :expanded-tocs="expandedTocs" :current-page="currentPage"></toc-tree>
                </ul>
            </details>
        </li>
        <li v-else>
            <a class="link-button-color section-link" :class="{
                ['indent-level-' + (item.level)]: true,
                'current-section': currentPage.some(p => p.key == item.key),
            }" :href="item.href"> {{item.title}} </a>
        </li>
    </template>

    <script src="~/js/site.js" type="module" asp-append-version="true"></script>

</body>
</html>
