@using EssentialCSharp.Web.Extensions
@using System.Globalization
@using IntelliTect.Multitool
@inject IList<SiteMapping> _SiteMappings
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        const string imageUrl = "https://essentialcsharp.com/images/icon.png";
        const string description = "Accelerate your development knowledge with C# expert Mark Michaelis' free, online comprehensive C# tutorial and reference that is updated through C# 11.0";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://essentialcsharp.com/" />
    <meta property="og:image:secure_url" content="@imageUrl" />
    <meta property="og:image" content="@imageUrl" />
    <meta name="twitter:image" content="@imageUrl" />
    <meta property="og:image:type" content="image/png" />
    <meta name="description" property="og:description" content="@description" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@IntelliTect" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta name="twitter:title" property="og:title" content="Essential C#" />
    <title id="page-title">Essential C#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="./lib/docsearch/style.css" />
    @*Font Family*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=auto" rel="stylesheet">
    @*End Font Family*@
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    @*So that Safari can import modules*@
    <script async src="lib/es-module-shims/dist/es-module-shims.js"></script>
    <environment include="Development">
        <script type="importmap">
            {
                "imports": {
                    "vue": "./lib/vue/dist/vue.esm-browser.js",
                    "vue-window-size": "./lib/vue-window-size/composition-api/dist/index.js"
                }
            }
        </script>
    </environment>
    <environment exclude="Development">
        <script type="importmap">
            {
                "imports": {
                    "vue": "./lib/vue/dist/vue.esm-browser.prod.js",
                    "vue-window-size": "./lib/vue-window-size/composition-api/dist/index.js"
                }
            }
        </script>
    </environment>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "g4keetzd2o");
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L4EMHSKG36"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-761B4BMK2R"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-761B4BMK2R');
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    @await RenderSectionAsync("HeadAppend", required: false)
</head>
<body>
    <div id="app">
        <div>
            <header class="header-background">
                <div class="banner">
                    <div class="menu-position">
                        <button class="menu-btn" v-on:click="sidebarShown = !sidebarShown">
                            <i class="fa fa-bars fa-lg icon-light"></i>
                        </button>
                        <div>
                            <a class="menu-brand text-light hide-on-mobile" asp-route="home">Essential C#</a>
                        </div>
                    </div>

                    <a v-if="chapterParentPage" :href="chapterParentPage.href" class="menu-chapter-title text-light">
                        <span v-cloak>{{chapterParentPage.title}}</span>
                    </a>


                    <div class="menu-position">
                        <div class="menu-tooltip">
                            <button class="menu-btn" target="blank"
                                onclick="window.open('https://github.com/IntelliTect/EssentialCSharp.Web/discussions/new?category=feedback-and-ideas', 'blank')">
                                <i class="fa fa-solid fa-comment fa-lg icon-light"></i>
                            </button>                            
                            <span class="tooltip-text">Feedback</span>
                        </div>
                        <div class="menu-tooltip">
                            <form asp-action="Announcements">
                                <button class="menu-btn">
                                    <i class="fa fa-solid fa-bullhorn fa-lg icon-light"></i>
                                </button>
                            </form>
                            <span class="tooltip-text">Announcements</span>
                        </div>
                    </div>
                </div>
            </header>

            <main class="layout">
                <div id="sidebarContainer" class="background-grey-lighten-2">
                    <Transition name="slide-fade">
                        <div v-cloak v-if="sidebarShown" :class="{sidebarSmall: smallScreen}" class="sidebar toc-padding" id="sidebar">
                            <div v-cloak class="toc-menu">

                                <div style="display:grid; width:100%; margin-bottom:.75rem;">
                                    <button v-on:click="openSearch" type="button" class="DocSearch DocSearch-Button DocSearch-Style" aria-label="Search">
                                        <span class="DocSearch-Button-Container">
                                            <svg width="20" height="20" class="DocSearch-Search-Icon" viewBox="0 0 20 20">
                                                <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                            <span class="DocSearch-Button-Placeholder">Search</span>
                                        </span>
                                        <span class="DocSearch-Button-Keys">
                                            <kbd class="DocSearch-Button-Key">
                                                <svg width="15" height="15" class="DocSearch-Control-Key-Icon">
                                                    <path d="M4.505 4.496h2M5.505 5.496v5M8.216 4.496l.055 5.993M10 7.5c.333.333.5.667.5 1v2M12.326 4.5v5.996M8.384 4.496c1.674 0 2.116 0 2.116 1.5s-.442 1.5-2.116 1.5M3.205 9.303c-.09.448-.277 1.21-1.241 1.203C1 10.5.5 9.513.5 8V7c0-1.57.5-2.5 1.464-2.494.964.006 1.134.598 1.24 1.342M12.553 10.5h1.953" stroke-width="1.2" stroke="currentColor" fill="none" stroke-linecap="square"></path>
                                                </svg>
                                            </kbd>
                                            <kbd class="DocSearch-Button-Key">K</kbd>
                                        </span>
                                    </button>
                                </div>
                                <div class="show-on-mobile" style="padding-left:6px; margin-bottom:1rem;">
                                    <a href="home" class="toc-label" style="text-decoration:none">
                                        Home
                                    </a>
                                </div>
                                <div>
                                    <h5>
                                        Contents
                                    </h5>
                                </div>
                                <button class="toc-label hide" v-on:click="sidebarTab = 'search'" id="search-btn">
                                    SEARCH
                                    <div v-if="sidebarTab == 'search'" class="bottom-border" id="search-border"></div>
                                </button>
                            </div>

                            <div v-cloak v-if="sidebarTab == 'toc'" class="toc-tree" id="toc">
                                <ul class="tree">
                                    <toc-tree v-for="item in tocData" :item="item" :expanded-tocs="expandedTocs" :current-page="currentPage"></toc-tree>
                                </ul>
                            </div>
                            <div v-cloak>
                                <small>
                                    Build: @if (ReleaseDateAttribute.GetReleaseDate() is DateTime date)
                                    {
                                        <b>@TimeZoneInfo.ConvertTimeFromUtc(date, TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time")).ToString("d MMM, yyyy h:mm:ss tt", CultureInfo.InvariantCulture)</b>
                                    }
                                </small>
                            </div>
                            <div v-cloak v-if="sidebarTab == 'search'" id="searchBar" class="search-window">
                                <div class="input">
                                    <input type="text" />
                                    <button class="search-btn">
                                        <i class="fa fa-search icon-light"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </Transition>
                </div>
                <div class="container my-5 pb-5">

                    <nav v-cloak class="turn-page">
                        <div class="turn-page-tooltip">
                            <a id="prev-btn" :href="previousPageUrl" v-if="previousPageUrl" class="arrow-btn"><i class="fa fa-solid fa-arrow-left icon-light arrow-icon"></i></a>
                            <span class="turn-page-tooltip-text tooltip-right">
                                <b>Previous Page</b>
                                <br />
                                ( or use the <i class="fa-solid fa-square-caret-left"></i> key)
                            </span>
                        </div>
                        <div class="turn-page-tooltip">
                            <a id="next-btn" :href="nextPageUrl" v-if="nextPageUrl" class="arrow-btn"><i class="fa fa-solid fa-arrow-right icon-light arrow-icon"></i></a>
                            <span class="turn-page-tooltip-text tooltip-left">
                                <b>Next Page</b>
                                <br />
                                ( or use the <i class="fa-solid fa-square-caret-right"></i> key)
                            </span>
                        </div>
                    </nav>

                    @RenderBody()

                </div>
            </main>

            <div v-cloak v-if="snackbarMessage" id="snackbar" class="show" :style="{ color: snackbarColor }">
                {{ snackbarMessage }}
            </div>

        </div>
        <footer class="border-top footer">
            <div class="row">
                <div class="col-12 col-md-4 me-auto p-2">
                    &copy; IntelliTect 2005-@DateTime.Now.Year 
                </div>
                <div class="col-12 col-md-auto align-self-end p-2">
                    <a target="_blank" rel="noreferrer noopener" href="https://intellitect.com/about/privacy-policy/">Privacy</a>
                </div>
                <div class="col-12 col-md-auto align-self-end p-2"><a asp-route="TermsOfService">Terms Of Service</a></div>
            </div>
        </footer>
    </div>

    <div id="docsearch" style="display: none;"></div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/algoliaDocSearch.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        @{
            object GetItems(IEnumerable<SiteMapping> chapterItems, int indentLevel) => chapterItems
            // Skip the chapter entry itself
            .Skip(1)
            // Examine all items up until we move up to a level higher than where we're starting,
            // which would indicate that we've reached the end of the entries nested under `indentationLevel`
            .TakeWhile(i => i.IndentLevel >= indentLevel)
            // Of all the multi-level descendants we found, take only those at the curent level that we're wanting to render.
            .Where(i => i.IndentLevel == indentLevel)
            .Select(i => new
            {
                Level = indentLevel,
                Key = i.Key,
                Href = $"{i.Key}#{i.AnchorId}",
                Title = i.RawHeading,
                // Any children of this node will be /after/ this node,
                // so skip any items that are /before/ the current node.
                Items = GetItems(chapterItems.SkipWhile(q => i.Key != q.Key), indentLevel + 1)
            });
            var tocData = _SiteMappings.GroupBy(x => x.ChapterNumber).OrderBy(x => x.Key).Select(x => new
            {
                Level = 0,
                Key = x.First().Key,
                Href = $"{x.First().Key}#{x.First().AnchorId}",
                Title = $"Chapter {x.Key}: {x.First().ChapterTitle}",
                Items = GetItems(x, 1)
            });
        }

            PREVIOUS_PAGE = @Json.Serialize(ViewBag.PreviousPage)
                NEXT_PAGE = @Json.Serialize(ViewBag.NextPage)
                    TOC_DATA = @Json.Serialize(tocData)
    </script>

    @* Recursive vue component template for rendering the table of contents. *@
    <template id="toc-tree">
        <li v-if="item.items.length">
            <details :open="expandedTocs.has(item.key)"
                     v-on:toggle="!$event.target.open ? expandedTocs.delete(item.key) : expandedTocs.add(item.key)">
                <summary :class="{
                        'toc-content' : item.level==0,
                        'nested' : item.level>
                        0,
                        'current-section': currentPage.some(p => p.key == item.key),
                        }" :href="item.href">{{item.title}}
                </summary>
                <ul>
                    <li :class="{
                           ['indent-level-' + (item.level+1)]: true,
                           'current-li' : currentPage.some(p=>
                            p.key == item.key) && !currentPage.some(p => p.level > item.level),
                            }" >
                        <a class="section-link" :class="{
                           ['indent-level-' + (item.level+1)]: true,
                           'current-section' : currentPage.some(p=>
                            p.key == item.key) && !currentPage.some(p => p.level > item.level),
                            }" :href="item.href"> Introduction
                        </a>
                    </li>
                    <toc-tree v-for="childItem in item.items" :item="childItem" :expanded-tocs="expandedTocs" :current-page="currentPage"></toc-tree>
                </ul>
                <hr class="divider" v-if="item.level === 0" />
            </details>
        </li>
        <li v-else :class="{
                           ['indent-level-' + (item.level+1)]: true,
                           'current-li' : currentPage.some(p=>
                            p.key == item.key) && !currentPage.some(p => p.level > item.level),
                            }" >
            <a class="section-link" :class="{
               ['indent-level-' + (item.level)]: true,
               'current-section' : currentPage.some(p=>
                p.key == item.key),
                }" :href="item.href"> {{item.title}}
            </a>
        </li>
    </template>
    <script src="~/js/site.js" type="module" asp-append-version="true"></script>

</body>
</html>
