@using EssentialCSharp.Web.Extensions
@inject IList<SiteMapping> _SiteMappings
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        const string imageUrl = "https://essentialcsharp.com/images/icon.png";
        const string description = "Welcome to one of the most venerable and trusted franchises you could dream of in the world of C# books and probably far beyond! -Mads Torgersen, C# Lead Designer, Microsoft";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://essentialcsharp.com/" />
    <meta property="og:image:secure_url" content="@imageUrl" />
    <meta property="og:image" content="@imageUrl" />
    <meta name="twitter:image" content="@imageUrl" />
    <meta property="og:image:type" content="image/png" />
    <meta name="description" property="og:description" content="@description" />
    <meta name="twitter:description" content="@description" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@IntelliTect" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta name="twitter:title" property="og:title" content="Essential C#" />
    <title id="page-title">Essential C#</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/EssentialCSharp.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L4EMHSKG36"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-761B4BMK2R"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-761B4BMK2R');
    </script>
</head>
<body>
    <header class="header-height">
        <div class="banner">
            <div class="menu-position">
                <button class="menu-btn" onclick="toggleSideBar()"><i class="fa fa-bars fa-lg icon-color"></i></button>
                <a class="navbar-brand text-light banner-main-label hide-on-mobile" asp-route="home">Essential C#</a>
            </div>
            <span class="hover-text"><a id="prev-section" class="text-light banner-section-label hide-on-mobile"><i class="fa fa-solid fa-arrow-left icon-color"></i> <span class="tooltip-text" id="bottomright">Previous Page (P or left-arrow)</span><span class="underline">P</span>revious</a></span>
            <a id="section-title" class="text-light banner-main-label banner-main-label-center"></a>
            <span class="hover-text"><a id="next-section" class="text-light banner-section-label hide-on-mobile"><span class="tooltip-text" id="bottom">Next Page (N or right-arrow)</span><span class="underline">N</span>ext <i class="fa fa-solid fa-arrow-right icon-color"></i></a> </span>
            <div class="menu-position">
                <span class="hover-text"><a id="feedback" class="text-light banner-section-label banner-link hide-on-mobile" runat="server" target="_blank" rel="noreferrer noopener" href="https://github.com/IntelliTect/EssentialCSharp/discussions/new?category=feedback-and-ideas"><span class="tooltip-text" id="bottom">Give feedback to us! (F key)</span><span class="underline">F</span>eedback</a></span>
                <button class="menu-btn feedback-icon show-on-mobile" onclick="window.location='https://github.com/IntelliTect/EssentialCSharp/discussions/new?category=feedback-and-ideas'"><i class="fa fa-regular fa-comments fa-lg icon-color"></i></button>
            </div>
        </div>
    </header>

    <div class="layout">
        <div class="sidebar toc-padding" id="sidebar">
             <div class="toc-menu"> 
                <button class="toc-label" onclick="showTOC()" id="toc-btn">
                    CONTENTS
                    <div class="bottom-border" id="toc-border"></div>
                </button>

                <button class="toc-label hide" onclick="showSearchBar()" id="search-btn">
                    SEARCH
                    <div class="bottom-border hide" id="search-border"></div>
                </button>
            </div>

            <div class="toc-tree" id="toc">
                <ul class="tree">
                    @foreach (int chapterNumber in _SiteMappings.Select(x=>x.ChapterNumber).Distinct().OrderBy(x => x))
                    {
                    <li>
                        <details>
                             <summary class="toc-content">Chapter @chapterNumber: @_SiteMappings.First(x=>x.ChapterNumber == chapterNumber).ChapterTitle</summary>
                            <ul>
                                @foreach (SiteMapping siteMapping in _SiteMappings.Where(x=>x.ChapterNumber == @chapterNumber))
                                {  
                                    string fullHref = $"{siteMapping.Key}#{siteMapping.AnchorId}";
                                    <li>
                                        <a class="link-button-color section-link" asp-route="slug" asp-route-key="@siteMapping.Key" asp-fragment="@siteMapping.AnchorId">@siteMapping.RawHeading</a>
                                    </li>
                                }
                            </ul>
                        </details>
                    </li>
                    }
                </ul>
            </div>

            <div id="searchBar" class="search-window hide">
                <div class="input">
                <input type="text" />
                    <button class="search-btn" >
                        <i class="fa fa-search icon-color"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="content-padding">
            <button id="prev-btn" class="nav-mobile-btn previous-mobile-btn show-on-mobile" onclick="goToPrevious()"><i class="fa fa-solid fa-arrow-left icon-color nav-mobile-btn-icon"></i></button>
            <button id="next-btn" class="nav-mobile-btn next-mobile-btn show-on-mobile" onclick="goToNext()"><i class="fa fa-solid fa-arrow-right icon-color nav-mobile-btn-icon"></i></button>
            @RenderBody()
        </div>
    </div>

    <footer class="border-top dense-footer text-muted" position="fixed" left="0" bottom="0" width="100%">
        <div class="dense-footer-content">
            &copy; IntelliTect 2005-@DateTime.Now.Year - <a class="link-color" runat="server" target="_blank" rel="noreferrer noopener" href="https://intellitect.com/about/privacy-policy/">Privacy</a>  - 
            <a class="link-color" asp-route="TermsOfService">Terms Of Service</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

     <script>
         function goToPrevious(){
             let link = document.getElementById("prev-section")
            
             link.click();
         }

         function goToNext(){
             let link = document.getElementById("next-section")
            
             link.click();
         }

        function toggleSideBar()
        {
            var a = document.getElementById("sidebar");
            if (a.style.display != "none") {
                a.style.display = "none";
            }
            else
            {
                a.style.display = "block";
            }
        }

        function showTOC() {
            var a = document.getElementById("toc-border");
            a.style.display = "block";
            var b = document.getElementById("toc");
            b.style.display = "block";

            var c = document.getElementById("searchBar");
            c.style.display = "none";
            var d = document.getElementById("search-border");
            d.style.display = "none";
        }

        function showSearchBar() {
             var a = document.getElementById("toc-border");
            a.style.display = "none";
            var b = document.getElementById("toc");
            b.style.display = "none";

            var c = document.getElementById("searchBar");
            c.style.display = "block";
            var d = document.getElementById("search-border");
            d.style.display = "block";
        }
        
        window.onload = openTOC;
        
        function openTOC()
        {
            var links = document.getElementsByClassName("section-link");

            let pageTitle = document.getElementById("page-title");
            let title = document.getElementById("section-title");
            let prev = document.getElementById("prev-section")
            let next = document.getElementById("next-section");

            let prevBtn = document.getElementById("prev-btn")
            let nextBtn = document.getElementById("next-btn");

            if (((window.location.origin + "/home").toLowerCase() == window.location.href.toLowerCase()) 
                || ((window.location.origin).toLowerCase() + "/"  == window.location.href.toLowerCase())) 
            {
                let link = links[0];
                
                pageTitle.textContent = "Home | Essential C#";
                title.innerHTML = "";
                prev.classList.add("link-hide");
                prevBtn.classList.add("link-hide");

                next.classList.add("link-hide");
                nextBtn.classList.add("link-hide");
            }
            else {
                for (let i = 0; i < links.length; i++) {
                    let link = links[i];

                    if (window.location.href.endsWith(link.href) && Boolean(link.innerHTML)) {
                        
                        //Update title and next/prev section hrefs 
                        pageTitle.textContent = link.innerHTML + " | Essential C#";
                        title.innerHTML = link.innerHTML;

                        if (i == 0) {
                            prev.classList.add("link-hide");
                            prevBtn.classList.add("link-hide");
                        }
                        else {
                            prev.classList.remove("link-hide");
                            prev.href = window.location.origin + "/@ViewBag.PreviousPage";
                            prevBtn.classList.remove("link-hide");
                        }

                        // The last content page is second to last in the link list
                        // because the generic "error" page is the last link
                        if (i == links.length - 1) {
                            next.classList.add("link-hide");
                            nextBtn.classList.add("link-hide");
                        }
                        else {
                            next.classList.remove("link-hide");
                            next.href = window.location.origin + "/@ViewBag.NextPage";
                            nextBtn.classList.remove("link-hide");
                        }

                        //Expand the chapter header in TOC and indicate the selected section
                        link.classList.add("current-section");
                        var listItem = link.parentElement;
                        var chapterlist = listItem.parentElement;
                        var chapterHeading = chapterlist.previousElementSibling;
                        chapterHeading.click();

                        break;
                    }
                }
            }
        }


        document.addEventListener('keydown', (e) => {
            if (!event.ctrlKey && e.key.toLowerCase() === 'f') {
                let fb = document.getElementById("feedback");
                fb.click();
            }
        });

        document.addEventListener('keydown', (e) => {
            if (e.key.toLowerCase() === 'n' || e.key == "ArrowRight" ) {
                let next = document.getElementById("next-section");
                next.click();
            }
        });

        document.addEventListener('keydown', (e) => {
            if (e.key.toLowerCase() === 'p' || e.key == "ArrowLeft" ) {
                let prev = document.getElementById("prev-section");
                prev.click();
            }
        });

        jQuery(document).ready(function(){
            var target = window.location.hash;

            if ( target != '' ){
                var $target = jQuery(target);
                if($target.length){
                    jQuery('html, body').stop().animate({
                    'scrollTop': $target.offset().top - 80},
                    900, 
                    'swing',function () {
                    });
                }
            }
        });

    </script>
</body>
</html>